<html>
    <title>
    </title>
    <head>
    </head>
    <body>
        <h1>User Page: {{ data.user }} -san</h1>
        <h2>あなたへのメッセージ</h2>
        <div id="number">
        </div>
        <h3>ルール説明</h3>
        <div class="document">
            <pre>
                （以下はゲーム説明になります。ゲームマスターから説明がありますので、詳細に読まなくても問題ありません）

                このゲームは協力プレイゲームです。

                あなたは巨大蜘蛛の住処に閉じ込められてしまいました。急がなければ襲われてしまいます。
                そこに、空から金色の蜘蛛の糸が降りてきていることに気づきます。
                しかしその糸はか細く、注意深く登らなければなりません。

                参加者全員で意思疎通を行い、脱出を目指しましょう。

                1. ゲームに参加する
                この画面を見ているということは、あなたはゲームに参加できています！
                ゲームマスターから再読み込みの指示があった場合は、ページを再読み込みしてくださいね。

                2. ページの再読み込みを行う
                ゲームマスターからゲーム開始を伝えられたら、この画面を再読み込みしてください。
                すると、「あなたへのメッセージ」に一つの数字が届きます。
                この数字は 1〜100 の間のいずれかの数字で、他の人には教えてはいけません。                

                3. お題をを聞く
                ゲームマスターからお題が与えられます。
                例えば「A: 学校にある備品の大きさ」「B: 辛い食べ物」などです。
                このとき、問題Aなら「小さいもの: 1, 大きいもの: 100」
                問題Bなら「辛くない: 1, 辛い: 100」といった補足情報も与えられます。
                ※この数字の意味合いのすり合わせについては参加者同士で行っていただいてもOKです。

                4. 小さい順に並べよう！
                自分の数字を「言わず」に他の参加者と相談を行いながら、数字が小さい順に
                参加者の数字を並べていきましょう。
                このとき、きれいに小さい順に数字を並べることができたら、皆さんの勝利です。
                くれぐれも数字について宣言してはいけません。「真ん中あたり」など数字の多寡を匂わすような発言も
                禁止です。

                皆さんは蜘蛛の住処から脱出することができるでしょうか？
            </pre>
        </div>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script>
            $.get(
                '/api/join/{{ data.user }}',
                function(data) {
                    console.log(data);
                }
            );
            $.get(
                '/api/getNumber/{{ data.user }}',
                function(data) {
                    console.log(data);
                    var x = JSON.parse(data);
                    var number = x.value;
                    if (number == "-1") {
                        $("#number").text("ゲーム開始までお待ち下さい。");
                    } else {
                        $("#number").text("あなたの数字は [" + x.value + "] です。誰にも教えてはいけません。");
                    }
                }
            );
        </script>
    </body>
</html>